

/* ==========================================================================
   Ian's custom styles
   ========================================================================== */
html,
/* Set base format for all html pages */
body {
    background-color:#1b1b1b;
    color: white;
    height:100%;
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-size: 14px;
    line-height: 20px;  
}

/*
    Set base color and positioning of jumbotron
*/
.jumbotron {
    margin-top: auto;
    margin-bottom: auto;
    color: #2B2B2B;
    text-align:center
}

/*
    Set all line and button colors for all html pages
*/
hr {
    border-color: yellow;
    /*border-color: #E9E581;*/
}
.btn-color {
    background-color: yellow;
    /*background-color: #E9E581;*/
}

/*
    Set color of text in box on fileDownloaded.html page
*/
#FileDownloadList p {
    color: #1b1b1b;
}

/*
    Set color of box on fileDownloaded.html page
*/
.panel-gold {
    background-color: yellow;
}

/*
    Set color for all links and align the text
*/
a {
    text-align:center;
    color:white;
}
/*************************************************************
                Navbar css elements
*************************************************************/

/*
    Set font size of all links in navbar
*/
#menubar a {
    font-size: 14px;
    /*text-transform: uppercase;*/
}

/*
        Change background color of nabar to black
*/
.navbar-inverse {
    background-image: none !important;
    background-color: #1b1b1b !important;
}

/*
    Dividers inbetween listed items in navbar
*/
ul.nav li+li a.navbar-brand:before {
    color: white;
    content:"|";
    padding-right: 15px;
}

/*
    Remove seperator on first listed element in the navbar
*/
ul.nav li:first-child a.navbar-brand:before {
    content:none;
}

/*
    Set color of links on hover
*/
ul.nav a:hover { 
    color: yellow !important;
}

/*************************************************************
                Drop down menu css for navbar
*************************************************************/

/*
    Centers dropdown menu and changes color
*/
.dropdown:hover .dropdown-menu {
    display: block;
    left: -20px;
    background-color: #1b1b1b !important;
}

/*
    Changes color of text and and dropdown menus background color for each link on hover
*/
.dropdown:hover .dropdown-menu li a {
    color: white;
    background-color: #1b1b1b !important;
    background-image:none !important;
}
.dropdown:hover div.special  {
    color: white;
    background-color: #1b1b1b !important;
    background-image:none !important;
    display: block;
    left: 110px;
    top: -4px;
    border-color: yellow;
    border-width: 2px;
}
#diver {
    border-color: yellow !important;
    border-width: 2px;
    border: solid;
    background-image:none !important; 
    text-align: center;  
    margin-left:300px; 
    margin-top: -50px; 
    max-width: 400px;  
    z-index: 1;
}

/* Allows room for pop-up message when user hovers over the 'what is this' button  */
.spacer {
    width: 100px;
}
/* The following three @media tags provide css to make the drop-down input group on the molecular dynamics page the same size as the 
*  other input groups at varying widths.
*/
@media (max-width:992px) {
    .spacer1 {
        width: 54px;
    }    
}
@media (min-width:993px) {
    .spacer1 {
        width: 52px;
    }    
}
@media (min-width:1201px) {
    .spacer1 {
        width: 50px;
    }    
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
    white-space: normal;       /* CSS3 */    
    white-space: -moz-pre-wrap; /* Firefox */    
    white-space: -pre-wrap;     /* Opera <7 */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
}
/*
  Changes the color of the divider lines in the dropdown menu   
*/
.divider {
    background-color: yellow !important;
}

/*
    Set color of links in navbar
*/
a.navbar-brand {
    color: white !important;
}

/*
    Set color of links in navbar on hover
*/
a.navbar-brand:hover {
    color: yellow !important;
}

/*
Css to deal with background image
*/
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -284px; /* the bottom margin is the negative value of the footer's height */
}

/*
    Css to push the footer to bottom of web page even when content does not warrant a full page
*/
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
    padding-top: 142px;
}

/*
    Css class that makes the link in the navbar yellow for the active page
*/
.active1 a{
    color: yellow !important;
}
