

/* ==========================================================================
   Ian's custom styles
   ========================================================================== */
html,
body {
    background-color:#1b1b1b;
    color: white;
    height:100%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;  
}
.jumbotron {
    background-color: rgba(255,255,255,0.85);
    margin-top: auto;
    margin-bottom: auto;
    color: #2B2B2B;
    text-align:center
}
.navbar-inverse {
    background-image: none !important;
    background-color: #1b1b1b !important;
}
hr {
    border-color: yellow;
}
.btn-color {
    background-color: yellow;
}
#menubar div {
    background-color: #1b1b1b; 
    height: 35px;
}
#menubar a {
        font-size: 14px;
}
#FileDownloadList p {
    color: #1b1b1b;
}
.panel-gold {
    background-color: yellow;
}
a {
    text-align:center;
    color:white;
}
ul.nav li a.navbar-brand {
    color:white;
    padding-left: 20px;
    padding-right: 20px;
}
ul.nav a:hover { 
    color: yellow !important;
}
.dropdown:hover .dropdown-menu {
    display: block;
    background-color: #1b1b1b !important;
}
.dropdown:hover .dropdown-menu li a {
    color: white;
}
ul.dropdown-menu a:hover{
    background-color: #1b1b1b !important;
}
a.navbar-brand {
    color: white !important;
}
a.navbar-brand:hover {
    color: yellow !important;
}
.dropdown-menu > li > a:hover {
    background-image:none !important;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -284px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
    padding-top: 142px;
}
ul.nav > li.dropdown > ul > li.active1 {
    color: yellow !important;
}
.active1 a{
    color: yellow !important;
}
.divider {
    background-color: yellow !important;
}
/*li+li { 
        border-left: 1px solid gold;
        height: 30px;
        text-align: center;
        padding-left: 10px;
        
}*/













