<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>FFX Web Application</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
                //background-color: ;
                //padding-left: 10px;
            }
            .row {
                padding-bottom: 3px;
                padding-left: 10px;
                margin-left: auto;
                margin-right: auto;
            }
            .button1 {
                padding-top: 10px;
                right: 20px;
            }         
            .background{
                padding-top: 50px;
                background-color:#f39c12;
                padding:0px;
                margin:0px;
                opacity: 0.7;
                text-align: center;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <!--<script src="js/libs/angular.js/angular.js"></script>-->
        <script src="js/libs/Processing/RunFFX.js"></script>
        <script src="js/libs/angular.js/angularController.js"></script>
    </head>
    <body ng-app="WebApp">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">FFX Web Application</a>
                </div>
                <div class="navbar-collapse collapse">
                </div><!--/.navbar-collapse -->
            </div>
        </div>
        <div class="jumbotron">
            <div class="container">
                <h1>Molecular Dynamics</h1>
                <p>Force Field X</p>
                <p>The following forms will allow you to select the specifics of the molecular dynamics calculations.</p>
            </div>
        </div>
        <form name="EnergyForm" ng-controller="Molecular_Dynamics_Controller">
            <div class="row">                
                <div class="form-group">
                    <label for="inputFile" >File Input</label>
                    <input type="file" id="PDB_File" onchange="">
                    <p class="help-block">Please upload the parameters file for the molecule you wish to analyze.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6" ng-class="{ 'has-error': EnergyForm.input1.$error.number }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="flag1" ng-if="Number1"type="checkbox" ng-init="flag1 = true">
                        </span>
                        <input name="input1" ng-model="Number1" placeholder="Starting ligand atom number" type="number" class="form-control" ng-pattern="NumberPattern" required>
                    </div><!-- /input-group -->
                </div>                   
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-lg-6" ng-class="{ 'has-error': EnergyForm.input2.$error.number }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="flag2" ng-if="Number2" type="checkbox" ng-init="flag2 = true">
                        </span>
                        <input name="input2" onchange="" ng-model="Number2" type="number" placeholder="Starting ligand atom number for the second topology" class="form-control" ng-pattern="NumberPattern" required>
                    </div><!-- /input-group -->
                </div>
                <div class="col-lg-6" ng-if="test2"> not an integer</div>
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-lg-6" ng-class="{ 'has-error': EnergyForm.input3.$error.number }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="flag3" ng-if="Number3" type="checkbox" ng-init="flag3 = true">
                        </span>
                        <input name="input3" ng-model="Number3" placeholder="Initial lambda value" type="number" class="form-control" ng-pattern="NumberPattern" required>
                    </div><!-- /input-group -->
                </div>                   
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-lg-6" ng-class="{ 'has-error': EnergyForm.input4.$error.number }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="flag4" ng-if="Number4" type="checkbox" ng-init="flag4 = true">
                        </span>
                        <input name="input4" ng-model="Number4" placeholder="Final ligand atom number" type="number" class="form-control" ng-pattern="NumberPattern" required>
                    </div><!-- /input-group -->
                </div>                   
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-lg-6" ng-class="{ 'has-error': EnergyForm.input5.$error.number }">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input ng-model="flag5" ng-if="Number5" type="checkbox" ng-init="flag5 = true">
                        </span>
                        <input name="input5" ng-model="Number5" placeholder="Final ligand atom number for second topology" type="number" class="form-control" ng-pattern="NumberPattern" required>
                    </div><!-- /input-group -->
                </div>  
            </div>
            <div class="row">
                <div class="button1">
                    <button ng-class="{ 'disabled': EnergyForm.input5.$error.number || EnergyForm.input4.$error.number || EnergyForm.input3.$error.number || EnergyForm.input2.$error.number || EnergyForm.input1.$error.number}" 
                            ng-click="CollectFlags(Number1, Number2, Number3, Number4, Number5)" 
                            type="button" class="btn btn-success" >FFXC Minimize</button> 
                </div>
            </div>
        </form> 
    </body>
</html>
