<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <!--
/*
*   FFX Web Application
*
*   This project provides a GUI for persons to generate a JNLP dynamically based
*   on forms provided on various HTML pages.
*
*   Author: Russell Martin
*   Year:   2015
*/
    -->
    <!--[if !IE]> -->
    <head>
        <title>X-Ray</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css2/bootstrap.min.css">
        <style>
            input[type="number"], textarea {
                background-color: white;
            }
            .jumbotron {
                background-color: white ;
            }
            body {
                padding-top: 50px;
                padding-bottom: 20px;
                background-color:#2B2B2B;
                color: #F6F6F6;
            }
            .row {
                padding-bottom: 3px;
                padding-left: 10px;
                margin-left: auto;
                margin-right: auto;
            }
            .button1 {
                padding-top: 10px;
                right: 20px;
                color: #2B2B2B;
            }         
        </style>
        <link rel="stylesheet" href="css2/main.css">
        <link rel="stylesheet" href="css2/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css2/main.css">
        <script src="js2/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js"></script>
        <script src="js2/libs/FileSaver.js-master/FileSaver.min.js"></script>
        <script src="js2/libs/Processing/RunFFX.js"></script>
        <script src="js2/libs/angular.js/angularController.js"></script>
    </head>

    <body ng-app="WebApp">
        <div  id="menubar" class="navbar  navbar-inverse navbar-fixed-top" role="navigation" style="background-color:black;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand " href="index-JNLP.html">FFX Web Application</a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a class="navbar-brand" href="index-JNLP.html" role="button">
                                <font>Home</font>
                            </a>
                        </li>
                        <li>
                            <a class="navbar-brand" href="LearnMore.html" role="button">
                                About
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button"><font style="color: yellow;">Functions<span class="caret"></span></font></a>
                            <ul class="dropdown-menu" id="Dropdown" role="menu">
                                <li><a href="Minimize.html" style="margin-top: -5px;text-align: left">Minimize</a></li>
                                <li><a href="Molecular_Dynamics.html" style="text-align: left;">Molecular Dynamics</a></li>
                                <li><a href="Rotamer.html" style="text-align: left;">Rotamer Optimization</a></li>
                                <li><a href="Xray.html" style="text-align: left;color: yellow;">X-Ray.Minimize</a></li>
                                <li><a href="RealSpace.html" style="text-align: left;">Real Space</a></li>
                                <li style="height:10px"> </li>
                            </ul>
                        </li>
                        <li>
                            <a id="link" class="navbar-brand" href="Contact.php" role="button">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <!--          .navbar-collapse -->
            </div>
        </div>

        <hr style="border-width: 5px; margin-top: auto; margin-bottom: auto; ">
        <hr style="border-width: 5px; margin-top: auto; margin-bottom: auto; border-color: #2B2B2B;">
        <div class="jumbotron">
            <div class="container" >
                <h1>X-Ray Minimize</h1>
                <p>Force Field X</p>

                <!-- Is below the correct wording? -->

                <p>The following forms will allow you to select the specifics of the minimization.</p>

            </div>
        </div>
        <hr style="border-width: 10px; margin-top: -10px; margin-bottom: auto; border-color: #2B2B2B;">
        <hr style="border-width: 5px;  margin-top: -5px; margin-bottom: auto; ">
        <div class="container" style="margin-left: 40px" >            
            <form name="XrayForm" ng-controller="Xray_Controller">
                <div class='row' style="height: 20px;"></div>
                <div class='row'>
                    <h2>
                        Follow the steps below to begin:
                    </h2>
                </div>

                <hr style="border-width: 2px;  margin-top: -5px; margin-bottom: auto; ">
                <div class='row' style="height: 20px;"></div>
                <div class='row'>
                    <h4>
                        <b>
                            1. Upload parameter file below:
                        </b>
                    </h4>
                    <div class="form-group">
                        <div class="container">
                            <div class="row">
                                <input type="file" id="PDB_File" finalnumber="finalnumber"  fileread="fileRead" class="col-xsm-6">
                                <div  id="diver" ng-cloak ng-show="fileRead" class="wordwrap container-fluid">
                                    <p ng-show="time">The file that was uploaded contains {{finalnumber}} atoms.
                                        With this number of atoms an estimated time of analysis is around {{time}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class='row'>
                    <h4>
                        2. Set variables pertaining to the calculation below: 
                    </h4>
                    <i>• Select multiple criteria if needed in Refinement Mode with Ctrl (Windows) or Command (Mac)</i>
                    <div style="padding-bottom:10px;"> 
                        <i>• Leave any field blank for a default setting</i>
                    </div>
                </div>
                <!-- Need controller name below: cmd+f search 'Xray_Controller' -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-class="{
                                'has-error'
                                : Xray_Controller.input0.$error.number }">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag0" ng-if="Number0" type="checkbox" ng-init="flag0 = true">
                                </span>
                                <input name="input0" ng-model="Number0" placeholder="RMS Gradient Convergence Criteria" type="number" class="form-control" ng-pattern="NumberPattern" required>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Specifies the root mean square convergence criteria for the run (Default: -1.0).
                                    </div>
                                </div>
                            </div><!-- /input-group -->
                        </div> 
                    </div>

                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-class="{
                                'has-error'
                                : Xray_Controller.input3.$error.number }">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag1" ng-if="Number1" type="checkbox" ng-init="flag1 = true">
                                </span>
                                <input name="input1" ng-model="Number1" placeholder="RMS Gradient Convergence Criteria for 3 Stage Refinement" type="number" class="form-control" ng-pattern="NumberPattern" required>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Specifies the 3 root mean square convergence criteria for the run (Default = -1.0, -1.0, -1.0) 
                                    </div>
                                </div>
                            </div><!-- /input-group -->
                        </div>                   
                    </div>

                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-class="{
                                'has-error'
                                : Xray_Controller.input1.$error.number }">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag2" ng-if="Number2" type="checkbox" ng-init="flag2 = true">
                                </span>
                                <input name="input2" ng-model="Number2" placeholder="Maximum Iterations" type="number" class="form-control" ng-pattern="NumberPattern" required>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Maximum amount of allowed refinement iterations (Default = 1000). 
                                    </div>
                                </div>
                            </div><!-- /input-group -->
                        </div>                   
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag3" ng-if="Number3" type="checkbox" ng-init="flag3 = true">
                                    Polarization
                                </span>
                                <select name="input3" ng-model="Number3" class="form-control">
                                    <option ng-value="None" selected>None</option>
                                    <option ng-value="Direct">Direct</option>
                                    <option ng-value="Mutual">Mutual</option>
                                </select>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Polarization Model (Default = Mutual).
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag4" ng-if="Number4" type="checkbox" ng-init="flag4 = true">
                                    Refinement Mode
                                </span>
                                <select multiple name="input4" ng-model="Number4" class="form-control">
                                    <option ng-value="1" selected>Coordinates</option>
                                    <option ng-value="2">B Factors</option>
                                    <option ng-value="3">Occupancies</option>
                                </select>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Specifies the type of refinement (Default = Coordinates).
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-class="{
                                'has-error'
                                : Xray_Controller.input5.$error.number }">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag5" ng-if="Number5" type="checkbox" ng-init="flag5 = true">
                                </span>
                                <input name="input5" ng-model="Number5" placeholder="Suffix" type="number" class="form-control" ng-pattern="NumberPattern" required>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Output Suffix (Default = _Refine).
                                    </div>
                                </div>
                            </div><!-- /input-group -->
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" ng-class="{
                                'has-error'
                                : Xray_Controller.input5.$error.number }">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <input ng-model="flag6" ng-if="Number6" type="checkbox" ng-init="flag6 = true">
                                </span>
                                <input name="input6" ng-model="Number6" placeholder="Three Stage" type="number" class="form-control" ng-pattern="NumberPattern" required>
                                <div class="input-group-addon dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                                        <font style="color:black">What is this?</font>
                                    </a>
                                    <div class="dropdown-menu special wordwrap" role="menu">
                                        Set to perform refinement in 3 stages - coordinates, B factors, occupancies (Defualt = ???).
                                    </div>
                                </div>
                            </div><!-- /input-group -->
                        </div>  
                    </div>
                    <div class="row">
                        <div class="button1">
                            <button ng-class="{
                                    'disabled'
                                    : Xray_Controller.input5.$error.number || Xray_Controller.input4.$error.number || Xray_Controller.input3.$error.number || Xray_Controller.input2.$error.number || Xray_Controller.input1.$error.number || Xray_Controller.input0.$error.number}" 
                                    ng-click="CollectFlags(Number0, Number1, Number2, Number3, Number4, Number5, Number6);
                                                migrateHtml();" 
                                    type="button" class="btn btn-color" >Create JNLP File</button> 
                        </div>
                    </div>
                    <hr >
                    <footer>
                        <div class="col-md-10" style="margin-top: 30px; margin-left: 40px; padding-bottom:30px;">
                            <p>
                                &copy; University of Iowa Biochemistry Department 2014
                            </p>
                        </div>
                        <div class="col-md-2" style="margin-right:-100px">
                            <img src="img2/Logo2.png" alt="Smiley face" height="100" width="100">
                        </div>
                    </footer>
                </div>
            </form> 
        </div>
    </body>
</html>
